.menu-wrapper.menu-horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px $gray-300;

    .menu-item {
        padding: .5rem 1.75rem;
        font-size: 1rem;
        border-bottom: .25rem solid transparent;

        &:hover,
        &.active {
            color: $primary;
            cursor: pointer;
            border-bottom: .25rem solid $primary;
        }

        &.disabled {
            color: $gray-400;
            pointer-events: none;
        }
    }

    .sub-menu-wrapper {
        position: relative;
        padding: .5rem 1rem;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
        }

        .sub-menu-title {
            display: flex;
            flex-direction: row;
        
            &.submenu-active {
                color: $primary;
            }

            .sub-menu-icon {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 1rem;
                transition: .3s ease-in-out;

                &.display {
                    transform: rotate(180deg);
                }
            }
        }

        .sub-menu-children {
            position: absolute;
            left: 0;
            top: 105%;
            border: solid 1px $gray-400;
        }
    }
}

.menu-wrapper.menu-vertical {
    display: flex;
    flex-direction: column;
    border-right: solid 1px $gray-300;

    .menu-item {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1.75rem;
        font-size: 1rem;
        border-right: .25rem solid transparent;

        &:hover{
            cursor: pointer;
            border-right: .25rem solid $primary;
        }

        &.active {
            color: $primary;
            cursor: pointer;
            border-right: .25rem solid $primary;
            background: #E6F7FF;
        }

        &.disabled {
            color: $gray-400;
            pointer-events: none;
        }
    }

    .sub-menu-wrapper {
        font-size: 1rem;

        .sub-menu-title {
            padding: .5rem 0;
            margin-left: 1.75rem;
            display: flex;
            flex-direction: row;

            &.submenu-active {
                color: $primary;
                border-right: .25rem solid $primary;
            }
            
            .sub-menu-icon {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 1rem;
                transition: .3s ease-in-out;

                &.display {
                    transform: rotate(180deg);
                }
            }
        }

        .sub-menu-children {
            background-color: #FAFAFA;
            width: 100%;
            .menu-item {
                padding-left: 2.5rem;
            }
        }
    }
}